.home-container {
  padding: 20px;
  background-color: #f8f9fa; /* Light background for contrast */
}

.image-container {
  text-align: center;
}

.logo-image {
  max-width: 100%;
  height: auto;
}

.content-container {
  padding-left: 20px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.details {
  font-size: 1.1rem;
}

.description-text {
  margin-bottom: 20px;
}

strong {
  font-weight: 600;
}
